@import 'variables';
footer{
    width: 100%;
    background: #22353F;
    margin-top: 70px;
     .conteiner{
        display: flex;
        align-items: center;
        justify-content: center;
      }
    p{
    font-size: 12px;
    line-height: 26px;
    color: #AEAEAE;
    padding: 30px 0;
    span{
        color: $color-primary;
      }
}
}
