@import 'variables';

.scrolling {
    position: fixed;
    right: 40px;
    bottom: 200px;
    border: 5px solid #FFFFFF;
    text-decoration: none;
    border-radius: 50%;
    font-size: 40px;
    font-weight: bold;
    color: $color-text1;
    background-color: $color-primary;
    padding: 20px;
    display: none;
    opacity: 0.5;
    transition: all 0.5s ease;
    z-index: 2;
}
.scrolling:hover{
    color: #FFFFFF;
    background-color: $color-hover;
    border: 5px solid $color-primary;
}

@media screen and (max-width: 500px) {
    .scrolling {
        right: 30px;
        bottom: 200px;
        font-size: 30px;
        padding: 8px;
    }
    }