@import 'variables';
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0; padding: 0;
}
header{
    width: 100%;
    max-width: 1920px;
    background-image: url(../img/head/Layer.png);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
    margin: 0 auto;
}
.conteiner{
  width: 100%;
  max-width: 1160px;
    margin: 0 auto;  
}
.header__line {
    width: 100%;
    background: rgba(94, 93, 88, 0.6);
    .conteiner{
        width: 100%;
        max-width: 1160px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span img{
            width: 100%;
        }
    }
    a{
        text-decoration: none;  
    }
}

.header__line .conteiner > a:first-of-type{
    display: flex;
    align-items: center;
    color: $color-second;
  }
.header__line .conteiner > a > span:first-child{
    width: 58px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/head/Polygon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
    color: $color-second;
}
.header__line a span:nth-of-type(2){
    color: $color-primary;
    font-weight: 700;
font-size: 32px;
  }
.header__line a p{
    color: $color-second;
    font-weight: 400;
font-size: 32px;
padding-left: 10px;
}
nav a{
color: rgba(255, 255, 255, 0.6);
font-weight: 700;
font-size: 16px;
line-height: 24px;
margin-right: 20px;
padding: 40px 0;
transition: all 0.7s ease;
}
nav a:hover{
    border-bottom: 2px solid $color-primary;
    padding: 40px 0 38px;
    color: $color-primary;
}
nav img{
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    cursor: pointer;
}
.header-text, .blockbutton{
    text-align: center;
}
.blockbutton button:last-child{
    margin-left: 25px;
    margin-bottom: 240px;
}
.header-text h3{
    font-weight: 700;
font-size: 35px;
line-height: 1px;
text-transform: uppercase;
color: $color-second;
margin: 200px auto 20px;
}
.header-text h3 span{
    color: $color-primary;
}
.header-text h1{
    font-weight: 700;
font-size: 78px;
text-transform: uppercase;
color: $color-second;
margin: 0;
}
.header-text p{
font-weight: 400;
font-size: 34px;
color: #D4D4D4;
margin-top: 0;
}

@media screen and (max-width: 899px) {
  .header__line .conteiner {
    flex-direction: column;
      nav{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
          a{
            padding: 20px 0;
          }
      }
}
header{
  .conteiner{
    .header-text{
      h1{
        font-size: 65px;
      }
      h3{
        font-size: 30px;
        margin-top: 150px;
      }
      p{
        font-size: 28px;
      }
    }
    .blockbutton button:last-child{
      margin-left: 20px;
      margin-bottom: 180px;
  }
  }
}
}
@media screen and (max-width: 700px){
  header{
    .conteiner{
      .header-text{
        padding: 0 20px;
          h1{
            font-size: 50px;
          }
          h3{
            font-size: 26px;
            margin-top: 100px;
          }
          p{
            font-size: 24px;
          }
      }
      
    }
  }
}
@media screen and (max-width: 500px){
  header{
    .conteiner{
      .header-text{
        padding: 0 20px;
          h3{
            display: none;
          }
          h1{
            padding: 60px 0 20px;
          }
      }
      .blockbutton{
        display: flex;
        row-gap: 40px;
        flex-direction: column;
        align-items: center;
        padding:40px 0 60px;
          button:last-child{
          margin: 0;
         }
      }
    }
  }
}


.blockbutton button, .everything-ready .conteiner button{
width: 170px;
height: 70px;
display: inline-block;
font-weight: 700;
font-size: 15px;
text-transform: uppercase;
color: $color-second;
border: none;
border-radius: 5px;
transition: background-image 0.5s ease;
position: relative;
overflow: hidden;
cursor: pointer;
background-color: $color-primary;
}
.blockbutton button::before, .everything-ready .conteiner button::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 5px;
background-color: $color-second;
}
.blockbutton button:hover, .everything-ready .conteiner button:hover {
background-color: $color-hover;
}
.square-blocks{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
}
.square-blocks > div {
width: 25%;
height: 380px;
box-sizing: border-box;
font-weight: 700;
font-size: 20px;
text-transform: uppercase;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
cursor: pointer;
transition: all 0.5s ease;
}
.square-blocks div:nth-of-type(1), .square-blocks div:nth-of-type(3) {
    background-color: #1C2A33;
    color: $color-primary;
}
.square-blocks div:nth-of-type(2), .square-blocks div:nth-of-type(4) {
    background-color: $color-primary;
    color: $color-second;
}
.square-blocks > span{
    width: 100px;
    height: 100px;
}
.square-blocks > span img{
    width: 100px;
}
  .square-blocks div:nth-of-type(1) span {
    background-image: url(../img/head/Combshape1.svg);
  }

  .square-blocks div:nth-of-type(1):hover,
  .square-blocks div:nth-of-type(3):hover {
      background-color: $color-hover;
      color: $color-second;
      border: 1px solid  #1C2A33;
  }
  
  .square-blocks div:nth-of-type(1):hover img,
  .square-blocks div:nth-of-type(3):hover img {
    filter: brightness(0) invert(1);
  }
  .square-blocks div:nth-of-type(2):hover,
  .square-blocks div:nth-of-type(4):hover {
      background-color: $color-hover;
      border: 1px solid  #1C2A33;
  } 

  @media screen and (max-width: 1200px) {
    .square-blocks {
      flex-wrap: wrap;
      >div {
        width: 50%;
        height: 300px;
    }
  }
  .square-blocks div:nth-of-type(3) {
    order: 4; /* Поменять местами с блоком №4 */
  }
  
  .square-blocks div:nth-of-type(4) {
    order: 3; /* Поменять местами с блоком №3 */
  }
  }
  @media screen and (max-width: 600px) {
    .square-blocks {
      
      >div {
        width: 100%;
        height: 200px;
    }
  }
  .square-blocks div:nth-of-type(1) {
    order: 2; /* Поменять местами с блоком №4 */
  }
  
  .square-blocks div:nth-of-type(2) {
    order: 1; /* Поменять местами с блоком №3 */
  }
  }



  h2 {
    padding-top: 90px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: $color-text1;
    text-align: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 90px;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(../img/section/lineh2.svg);
      background-repeat: no-repeat;
      background-position: center center;
    }
    @media screen and (max-width: 500px) {
      &::before {
        top: 50px;
        left: 0;
      }
    }
  }
  .our-services {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 70px;
  
   
  
    .our-services__contant {
      padding-top: 80px;
  
      ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding: 0;
      }
  
      a {
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        padding: 28px 30px;
        background: #F8FCFE;
        cursor: url(../img/section/cursor.png), auto;
        transition: all 0.7s ease;
        position: relative;
        display: flex;
        gap: 2px;
        border: 1px solid $color-primary;
  
        &:hover {
          
          color: $color-primary;
          font-weight: bold;
        }
  
        &:focus {
          background-color: $color-primary;
          color: $color-second;
  
          &::before {
            content: "";
            position: absolute;
            top: 43px;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(../img/section/tail.svg);
            background-repeat: no-repeat;
            background-position: center center;
          }
        }
      }
  
      > div {
        display: flex;
        align-items: flex-start;
        padding: 20px 10px 40px;
        overflow: hidden;
      }
  
      span, span img {
        padding: 10px 5px;
        width: 194px;
        height: 139px;
      }
  
      p {
        padding-left: 20px;
        height: 180px;
        overflow: hidden;
      }
    }
  }

@media screen and (max-width: 1088px) {
.our-services .our-services__contant {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  ul {
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
  }
    
}
}
@media screen and (max-width: 758px) {

  .our-services {
    margin-bottom: 30px;

    .our-services__contant {
      padding-top: 10px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    
        >div {
          display: flex;
          padding: 20px 10px;
          overflow: hidden;
          flex-direction: column;
          align-items: center;
        }
        a {
            font-size: 13px;
            padding: 20px 10px;
            width: 120px;
            &:focus {
              background-color: $color-primary;
              color: $color-second;
        
              &::before {
                top: 0px;
                left: 80px;
                transform: rotate(-90deg);
              }
            }
        }
        span, span img {
          padding: 0;
        }
        p {
          padding-left: 0 20px;
          height: 240px;
        }
    }

    .conteiner h2 {
      padding-top: 30px;
      
        &::before {
          top: 50px;
          left: 0;
        }   
    }
    ul {
      padding-left: 10px;
    }
 }
}
@media screen and (max-width: 630px) {
  .our-services .conteiner .our-services__contant>div{
    span{display: none;}
    p{height: 380px;
    margin: 0;}
}
}
@media screen and (max-width: 500px) {
  .our-services{
    margin-bottom: 0;
    .conteiner h2 {
      padding-top: 0px;}
  }
   .our-services .conteiner .our-services__contant>div{
          p{font-size: 14px;
            padding-left: 10px !important}
}
.our-services .our-services__contant {
  a {
  padding: 10px;
  width: 60px;
  &:focus {
    &::before {
      left: 50px;
    }
  }
}
}
}

.everything-ready, .people-say, .gallery{
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  background-image: url(../img/section/BG.png);
background-repeat: no-repeat;
background-position: center center;
}

.everything-ready .conteiner{
  h3{
  padding: 120px 0 10px;
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: $color-primary;
  }
  p{
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #D8D8D8;
  margin: 0;
  }
  button{
    margin: 60px 0 130px;
  }
}
@media screen and (max-width: 1150px) {
  .everything-ready .conteiner {
    h3{
      padding: 100px 30px 10px;}
    p{ padding: 0 30px;
      line-height: 16px;}
    button {
      margin: 60px 0 10vh;
  }
  }
  everything-ready{
    display: flex;
  }
}
@media screen and (max-width: 662px) {
  .everything-ready .conteiner {
    h3{ font-size: 28px;
      
      padding: 60px 30px 10px;}
    p{ display: none;}
    button {
      margin: 40px 0 8vh;
  }
  }
 
}
@media screen and (max-width: 520px) {
  .everything-ready .conteiner {
    
    button {
      margin: 30px 0;
  }
  }
 
}

